$black : #000000;
$white: #FFFFFF;
$dark-grey: #303030;
$pic-blue: #000223;
$pic-blue-hover: #000223CC;
$pic-red: #B22132;
$pic-red-hover: rgba(178,33,50, 0.8);
$light-grey: rgba(34,36,38,.25);
$fade-grey: rgba(0,0,0,0.10);
$hover-grey: rgba(0,0,0,0.1);
$green-success: rgba(33,178,50, 0.8);
