$black : #000000;
$white: #DFCBAB;
$dark-grey: #2f2f2f;
$pic-blue: #000000;
$pic-blue-hover: #ffffffcc;
$pic-red: #322516;
$pic-red-hover: rgba(50, 37, 22, 0.8);
$light-grey: rgba(198, 211, 225, 0.25);
$fade-grey: rgba(255, 255, 255, 0.1);
$hover-grey: rgba(255, 255, 255, 0.1);
$green-success: rgba(33, 178, 50, 0.8);
// Pixel additions
$neon-pink-shadow: #eae1ca;
$neon-pink-border: #e0ceaa;
$neon-yellow-shadow:rgb(255, 212, 92);
$neon-yellow-border:rgb(255, 246, 197);
$pic-red-error: rgb(209, 78, 78);