$black : #000000;
$white: #a76395;
$dark-grey: #e5e5e5;
$pic-blue: #000000;
$pic-blue-hover: #ffffffcc;
$pic-red: #8f379d;
$pic-red-hover: rgba(147, 33, 178, 0.8);
$light-grey: rgba(198, 211, 225, 0.25);
$fade-grey: rgba(255, 255, 255, 0.1);
$hover-grey: rgba(255, 255, 255, 0.1);
$green-success: rgba(164, 208, 230, 0.8);
// Pixel additions
$neon-pink-shadow:rgb(255, 92, 222);
$neon-pink-border:rgb(255, 197, 247);
$neon-yellow-shadow:rgb(255, 212, 92);
$neon-yellow-border:rgb(255, 246, 197);
